<p id="notice"><%= notice %></p>

<p>
  <strong>Me:</strong>
  <%= @care.me %>
</p>

<p>
  <strong>Model:</strong>
  <%= @care.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @care.year %>
</p>

<%= link_to 'Edit', edit_care_path(@care) %> |
<%= link_to 'Back', cares_path %>
